tr
    td
        table.footer
            tbody
                tr
                    td.footer__links
                        a.btn.btn__text(href=`${host}/`) Home
                        a.btn.btn__text(href=`${host}/profile`) Profile
                        a.btn.btn__text(href=`${host}/checkout`) Checkout
                tr
                    td
                        p.paragraph © 2021 Arian Fallahpour. All rights reserved.
                