.settings__section.cancelPayment 
    h5.header-5.u-center-text Cancel plan
    .notice
    .settings__text
        h6.header-6 Please read:
        p.paragraph If you wish to cancel your current plan, you will be refunded the portion that you did not use out of your plan. Ex: if you cancelled after 10 days of your monthly plan, you will only pay for those 10 days
        p.paragraph 
            span.warning Please note:
            |  You may only cancel if you are using the monthly plan.
    button.btn.btn__red.u-align-self-center(title="Cancel vpn plan")
        span cancel plan