form.settings__section.changePassword
    h5.header-5.u-center-text change password
    .notice
    .changePassword__inputs
        .inputField
            input(type="password" id="currentPassword" name="currentPassword" placeholder="current password" spellcheck="false" title="Type your current password")
            label(for="current password") current password
        .inputField
            input(type="password" id="newPassword" name="newPassword" placeholder="new password" spellcheck="false" title="Type your new password")
            label(for="newPassword") new password
    button.btn.btn__primary.u-align-self-end.changePassword__btn(title="Change password")
        span change password
        i.bi.bi-check-lg.success-icon