.settings__section.currentPlan
    h5.header-5.u-center-text current plan
    .notice
    .currentPlan__content
        .progressBar
            .progressBar__filler
            .circle.circle--static
            .circle.circle--left
            .circle.circle--right
        .planTimeLeft
            span.planTimeLeft--daysLeft 15d left!
            span.planTimeLeft--progress.header-gradient 50%
            span.planTimeLeft--name 1mon plan
        .currentPlan__start start
        .currentPlan__end end
    a.btn.btn__secondary.u-align-self-center(title="Renew vpn plan" href="#") renew plan