form.settings__section.disableTwoFactor
    h5.header-5.u-center-text disable 2fa
    .notice
    .settings__text
        h6.header-6.u-margin-bottom-sm disable two factor authentication?
        p.paragraph Once disabled, you will no longer require a code every time you log in. This may result in hackers being able to get into your account more easily. You will need to click on a link sent to your email in order to disable 2fa.
    button.btn.btn__red.u-align-self-center.disableTwoFactor__btn(title="Disable 2fa") disable 2FA