form.settings__section.enableTwoFactor
    h5.header-5.u-center-text enable 2fa
    .notice
    .settings__text
        h6.header-6.u-margin-bottom-sm enable two factor authentication?
        p.paragraph Once enabled, you will be sent a confirmation email. Click on the link in that email to enable 2fa. From then, you will be required to enter a code sent to your email every time you log in.
    button.btn.btn__secondary.u-align-self-center.enableTwoFactor__btn(title="Enable 2fa") enable 2FA
        