form.settings__section.forgotPassword
    h5.header-5.u-center-text Forgot password
    .notice
    .settings__text.u-center-text
        p.paragraph If you forgot your password, we can send you a reset link to your email.
    .forgotPassword__main.u-align-self-center
        p.paragraph.forgotPassword__time.hide
            | You may resend in 
            span.forgotPassword__time--seconds 10
            |  seconds
        button.btn.btn__primary.forgotPassword__btn(title="send reset link")
            span send link
            i.bi.bi-check-lg.success-icon
