form.settings__section.options
    h5.header-5.u-center-text options
    .notice
    .options__inputs
        .inputSwitch
            label(for="darkmode") Darkmode
            input(type="checkbox" id="darkmode" name="darkmode" title="Toggle dark mode")
    button.btn.btn__secondary.u-align-self-end(title="Save changes")
        span.content save