.settings__section.paymentMethods
    h5.header-5.u-center-text payment methods
    p.paragraph Payment methods are automatically added during the checkout process
    .notice
    .cards
            
        //- .revealMethods
        //-     .revealMethods__panel
        //-         i.bi.bi-shield-lock
        //-         p.paragraph Reveal payment methods?
        //-         button.btn.btn__primary.revealMethods__btn reveal

        //- .card(data-id="FAKEID123")
        //-     img.card__img(src="/img/app/cards/mastercard.svg" alt="mastercard image" title="mastercard")
        //-     .card__info
        //-         h6.header-6.u-none-text 1355 ending
        //-         p.paragraph 03/14
        //-     button.btn.btn__red.card__remove-btn(title="remove card") 
        //-         svg.bi(width='1em' height='1em' fill='currentColor')
        //-             use(xlink:href='/img/bootstrap-icons.svg#trash3')
    .paymentMethods__btns
        button.btn.btn__primary.paymentMethods__add 
            span add card
            i.bi.bi-plus-lg

