extends layout/_base

block content
    tr
        td
            table.template
                tbody.template__inner
                    tr
                        td.template__title
                            h2.header-2 password reset link
                    tr 
                        td.template__paragraphs
                            p.paragraph Help has arrived!
                            p.paragraph Click the link below to reset your password!

                    tr
                        td 
                            a.btn.btn__primary(href=link) confirm
                    
                    tr
                        td.template_paragraphs
                            p.paragraph Button not working? Copy and paste the URL below:
                            p.paragraph.template__url(href=link)=link
                        