extends layout/_base

block content
    tr
        td
            table.template
                tbody.template__inner
                    tr
                        td.template__title
                            h2.header-2 welcome!

                    tr 
                        td.template__paragraphs
                            p.paragraph Thank you for making an account!
                            p.paragraph We are very happy to see you get started and hope that you connect well with our product. Click the button below to go to our homepage, you can then select a plan that you desire.

                    tr
                        td 
                            a.btn.btn__primary(href="/") explore

