extends _base
include items/error

block append head
    link(rel='stylesheet' href=`/css/forgotPassword.css`)

block content
    section.section.section--panel
        .row
            .col.u-grid-content-center.col-panel
                .panel.forgotPassword
                    h2.header-2.u-center-text Forgot password
                    h6.header-6.u-center-text.forgotPassword__message.u-none-text A reset link will be sent to this email
                    .notice
                    .slider.slider--forgotPassword
                        .slides
                            form.slide.slide--1.slide--main.credentialsForm
                                .inputField
                                    input(type="text" id="email" name="email" placeholder="test@example.com" spellcheck="false" title="Type your email")
                                    label(for="email") email
                                button.btn.btn__primary.credentialsForm__submit(title="send reset link" data-redirect=redirect)
                                    span send link
                                    i.bi.bi-check-lg.success-icon
                            .slide.slider--2.linkSent
                                .linkSent__success link sent!
                    
