button.btn.card(data-id="FAKEID123" type="button")
    img.card__img(src="/img/app/cards/mastercard.svg" alt="mastercard image")
    .card__info
        h6.header-6.u-none-text 1355 ending
        p.paragraph 03/14
    .card__status 
        .default default