.userCard
    .userCard__photo
        img.profile__img.userCard__img(src="/img/default-1.png" alt="photo of arian fallahpour")
    h6.header-6.u-center-text arian f.
    ul.userCard__list.u-center-text
        li.userCard__item 5 total months
        li.userCard__item not active
    button.btn.btn__primary.userCard__btn(title="View user") view