.login,
.signup,
.success {
  min-height: 40rem;

  @include respond(400) {
    background-color: transparent;
    width: auto;
    padding: 0;
    min-height: auto;
    border-radius: 0;
  }
}

.forgotPassword,
.resetPassword,
.login,
.signup {
  display: grid;
  gap: 2rem;
  align-content: start;

  & .notice > .info {
    background-color: var(--c-white);

    @include respond(400) {
      background-color: var(--c-grey-light);
    }
  }

  &__message:empty {
    display: none;
  }
}

.login,
.signup {
}

.success {
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-rows: repeat(2, auto) 1fr auto;

  &__icon {
    font-size: 6rem;
    margin: -0.2em 0 -0.255em 0;
    animation: successIcon 0.5s ease-out;

    &--s {
      color: var(--c-primary);
    }

    &--e {
      color: var(--c-red);
    }
  }

  &__content {
  }
}

.credentialsForm,
.twoFactorForm {
  display: grid;
  gap: 3rem;
  align-content: end;
}

.credentialsForm {
  &__inputs {
    display: grid;
    gap: 3rem;
  }
}

.twoFactorForm {
  align-content: space-between;
}

.slider {
  &--login {
    height: 23rem;
  }

  &--forgotPassword {
    height: 12rem;
  }

  .slides {
    height: 100%;

    & .slide {
      width: calc(100% + 10rem);
      padding: 0 5rem;
      left: -5rem;
    }
  }

  .slide {
    &--1 {
    }

    &--2 {
    }
  }
}
