footer.footer
    .footer__logo-box
        img.footer__logo(src="/img/app/logo-1.svg" alt="Logo")
    .footer__links
        ul.footer__list
            li.footer__item
                h4.header-4.u-margin-bottom-sm Product
            li.footer__item
                a.footer__link.btn.btn__text(href="/#section-plans") pricing
            li.footer__item
                a.footer__link.btn.btn__text(href="/#section-specs") features
        ul.footer__list
            li.footer__item
                h4.header-4.u-margin-bottom-sm Info
            li.footer__item
                a.footer__link.btn.btn__text(href="#") what is a vpn
            li.footer__item
                a.footer__link.btn.btn__text(href="#") why buy
            li.footer__item
                a.footer__link.btn.btn__text(href="#") internet security
            li.footer__item
                a.footer__link.btn.btn__text(href="#") compatibility
        ul.footer__list
            li.footer__item
                h4.header-4.u-margin-bottom-sm Other
            li.footer__item
                a.footer__link.btn.btn__text(href="#") Contact
            li.footer__item
                a.footer__link.btn.btn__text(href="#") Email
    .footer__copyright
        p.paragraph © 2021 Arian Fallahpour. All rights reserved.
        p.paragraph Design vector created by macrovector - 
            a.btn.btn__link(href='https://www.freepik.com/vectors/design') www.freepik.com
