header.header.section
    .row
        .slider.slider--header
            .slides
                .slide.slide--1.slide--main
                    .recommended
                        .recommended__image
                            img(src="/img/app/laptop-1.svg" alt="Personal laptop" title="Personal laptop")
                        .recommended__content
                            h3.header-3.recommended__name
                                span monthly plan
                            h4.header-4.u-margin-bottom-em.recommended__header what is it?
                            p.paragraph.u-margin-bottom-em Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            button.recommended__cta.btn.btn__shine(href="#") 
                                span Get started
                                i.bi.bi-arrow-right
                            .recommended__info
                                p.paragraph Recommended!
                                h3.header-3.recommended__price $4.99/mon
                .slide.slide--2
                    .servers  
                        .servers__left
                            .servers__left--shape
                            h4.header-4.u-margin-bottom-em military grade
                            p.paragraph.u-margin-bottom-em Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at. Eget sit amet tellus cras adipiscing enim eu turpis egestas.
                            a.btn.btn__shine
                                span Learn more
                                i.bi.bi-arrow-right
                        .servers__center
                            .servers__backdrop
                            img.servers__image(src="/img/app/server-3.svg" title="Advanced database" alt="Advanced database")
                        .servers__right
                            h4.header-4.u-margin-bottom-em Constantly maintained
                            .servers__right--shape
                            p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at. Eget sit amet tellus cras adipiscing enim eu turpis egestas.
                .slide.slide--3
                    .download
                        .download__content
                            h3.header-3 download now!
                            p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at. Eget sit amet tellus cras adipiscing enim eu turpis egestas.
                            a.btn.btn__slide(href="#")
                                .btn__slide--icon
                                    i.bi.bi-arrow-right-short
                                span Download page
                        .download__image
                            img(src="/img/app/database-3.svg" title="Advanced database" alt="Advanced database")
            .slider__nav
                button.btn.slider__btn.slider__back
                    i.bi.bi-caret-left-fill
                .dots 
                    button.btn.dot(data-slide="1")
                    button.btn.dot(data-slide="2")
                    button.btn.dot(data-slide="3")
                button.btn.slider__btn.slider__next
                    i.bi.bi-caret-right-fill