
.prices
    .price
        h6.header-6 six month plan
        .price__cost 
            span.price__cost--money $3.99
            span.price__cost--duration 6 mon
        .price__total $23.94
.total
    span.total--total total
    span.total--cost $24.69