.modal
    button.btn.btn__glass.modal__exit-btn.modal__close(title="Exit modal")
        i.bi.bi-x
    .modal__inner
        .modal__content
            h5.header-5.u-center-text title
            p.paragraph.u-center-text Are you sure you want to exit this modal?
        .modal__buttons
            button.btn.btn__glass.modal__exit(title="Back") back
            button.btn.btn__primary.modal__next(title="Next") next